.places {
    font-family: 'Inter', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    row-gap: 80px;
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
}

@media screen and (max-width: 980px) {
    .places {
        row-gap: 73px;
    }
}

@media screen and (max-width: 730px) {
    .places {
        max-width: 100%;
        row-gap: 50px;

    }
}