.lead__title {
    max-width: 720px;
    font-weight: 900;
    font-size: 96px;
    line-height: 1.04;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 32px;
    box-sizing: border-box;
}



@media screen and (max-width: 680px) {
    .lead__title {
        padding: 0 24px 16px;
        font-size: 40px;
        line-height: 44px;
        line-height: 1.1;
    }
}

@media screen and (max-width: 580px) {
    .lead__title {
        max-width: 288px;
        padding: 0 16px 16px;
    }
}