.lead__subtitle {
    max-width: 640px;
    margin: 0 auto;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.2;
    text-align: center;
    padding-bottom: 64px;
    box-sizing: border-box;
}

@media screen and (max-width: 1124px) {
    .lead__subtitle {
        padding-bottom: 56px;
    }
}

@media screen and (max-width: 568px) {
    .lead__subtitle {
        max-width: 288px;
        padding-bottom: 40px;
        font-size: 16px;
        line-height: 1.25;
    }
}