.place__link {
    padding: 0;
    margin: 0;
    font-size: 18px;
    line-height: 1.22;
    text-decoration-line: underline;
    color: #FFFFFF;
    padding-top: 12px;
    transition: 0.5s ease;
    box-sizing: border-box;
}

.place__link:hover {
    opacity: 0.8;
}
