.content__section_fullscreen {
    max-width: calc(100% - 2*48px);
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}


@media screen and (max-width: 984px) {
    .content__section_fullscreen {
        max-width: 100%;
    }
}