.place {
    display: grid;
    grid-template-columns: repeat(2, 46.7%);
    column-gap: 40px;
    row-gap: 48px;
    box-sizing: border-box;
}




@media screen and (max-width: 730px) {
    .place {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 32px;
    }
}