.place {
    display: grid;
    grid-template-columns: 46.748% 1fr;
    gap: 48px 40px;
    box-sizing: border-box;
}

@media screen and (max-width: 1080px) {
    .place {
        grid-template-columns: 47.415% 1fr;
        gap: 48px 32px;
    }
}

@media screen and (max-width: 980px) {
    .place {
        grid-template-columns: 47.223% 1fr;
        gap: 48px 28px;
    }
}

@media screen and (max-width: 730px) {
    .place {
        display: flex;
        flex-direction: column;
        row-gap: 32px;
    }
}